#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("src/assets/img/bus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.color-title {
    color: chocolate;
}

.color-acento {
    color: brown;
}

#title{
    text-align: center;
}