<section id="hero">
    <h2>NUESTROS ALIMENTOS</h2>
</section>
<section id="alimentos">
    <div class="info">
        <div class="img-info"></div>
        <div class="texto">
            <h2><span class="color-acento">NUESTROS ALIMENTOS</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident praesentium mollitia officiis,
                atque natus in enim, qui tempora.</p>
        </div>
    </div>
</section>
<section id="cartas">
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <img src="../../../../assets/img/granos.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">CAFÉ</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <button (click)="Cafe()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <img src="../../../../assets/img/pasta-rec.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">PASTAS</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <button (click)="Pastas()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <img src="../../../../assets/img/aceite-info.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">ACEITES</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <button (click)="Aceites()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <img src="../../../../assets/img/gomita-oso.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">GOMITAS</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <button (click)="Gomitas()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <img src="../../../../assets/img/enlatados-info.png" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">ENLATADOS</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.
                    </p>
                    <button (click)="Enlatados()">+ Info</button>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <p>SIGUENOS</p>
        <ul>
            <li class="footer-logo-fb"></li>
            <li class="footer-logo-wpp"></li>
            <li class="footer-logo-ig"></li>
            <li class="footer-logo-twt"></li>
        </ul>
    </div>
    <div class="container">
        <p>&copy;CafePas 2022</p>
        <p>Juan Camilo Cediel & Jhon Jawer Cuero</p>
    </div>
</footer>
