#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("src/assets/img/fondo-ali.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*     background-image: url("src/assets/img/LogoCafe.png"); */
}

#hero h2 {
    color: white;
}
.card {
    justify-content: center;
    text-align: center;
}
.color-title {
    color: chocolate;
}

.color-acento {
    color: brown;
}


#alimentos .info {
    text-align: center;
    padding: 200px 12px;
}


footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 15px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-logo-fb {
    height: 30px;
    background-image: url("src/assets/img/iconF.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-wpp {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconW.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-ig {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconI.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-twt {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconT.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media (min-width: 720px) {

    #cartas .row {
        display: flex;
        justify-content: center;
    }

    .card p {
        display: block;
        margin-bottom: 10px;
    }

    .card {
        justify-content: center;
        text-align: center;
    }

    #cartas {
        margin: 0;
        padding: 15px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-color: rgba(50, 50, 50);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    #alimentos .info {
        display: flex;
        justify-content: space-evenly;
    }

    #alimentos .img-info {
        background-image: url("src/assets/img/alimentos.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #alimentos .texto {
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    footer .footer-logo-fb {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-ig {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-wpp {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-twt {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .container {
        justify-content: flex-end;
    }
}