#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("src/assets/img/empresa.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.row h6{
    padding: 15px;
    margin: 0;
    color: rgb(100, 100, 100);
}

.row p{
    margin: 0;
    padding: 15px;
    color: rgb(100, 100, 100);
}
/* .container{
    width: 100%;
    text-align: justify;
}
.form-label{
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    
} */


footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 15px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-logo-fb {
    height: 30px;
    background-image: url("src/assets/img/iconF.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-wpp {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconW.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-ig {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconI.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-twt {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconT.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media (min-width: 720px) {
    
    footer .footer-logo-fb {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-ig {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-wpp {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-twt {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .container {
        justify-content: flex-end;
    }
}

/* #hero{
    color: black;
    font-size: 5rem;
    font-weight: 700;
    position: static;
    text-align: center;
    margin-top: 2rem ;
    padding: 1rem;
    margin: 3 3%;
    
}
 */
/* body{
    font-family: sans-serif;
    margin: 0;
    background: #CAB66F ;
    
    } */
    /* 
      TEXTO 
    .row{
       text-align: justify;
       color: black;
        font-size: 1.1rem;
        flex-direction: column;
        margin-top: 2rem;
    }
    
    .btn-default{
            color: black;
            font-weight: 600;
            font-size: 1.1rem;
    }
      */