<section id="hero">
    <h1>  CONTACTO </h1>
</section>
  <div class="row">
      <div class="col-lg-4 col-ms-4 col-sm-4">
          <h6>DIRECCIÓN</h6>
          <p>
              CALLE 50 40 - 81 BODEGA A1 <br>
              DEL PARQUE INDUSTRIAL JACOB, TULUA-VALLE
          </p>
          <h6>TELEFONO</h6>
          <p>
              3183513658
          </p>
      </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="col-md-12">
        <label for="inputState" class="form-label"></label>
        <select id="inputState" class="form-select">
          <option selected> - Seleccione el motivo de contacto </option>
          <option> - Solicitud de empleo </option>
          <option> - Quejas / Servicio </option>
          <option> - Quejas / Producto </option>
          <option> - Sugerencia </option>
          <option> - Otro </option>
        </select>
      </div>
    <div class="col-md-6">
      <label class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" placeholder="Nombre Completo*">
    </div>
    <div class="col-md-6">
      <label class="form-label">Telefono/Celular</label>
      <input type="tel" class="form-control" placeholder="Telefono o  Celular*">
    </div>
    <div class="col-3">
      <label class="form-label">Correo Electronico</label>
      <input type="email" class="form-control"  placeholder="Email*">
    </div>
    <div class="col-md-3">
      <label class="form-label">País</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-3">
      <label class="form-label">Ciudad</label>
      <input type="text" class="form-control" >
    </div>
    <div class="col-md-3">
      <label class="form-label">Dirección</label>
      <input type="text" class="form-control" >
    </div>
    <div class="col-md-12">
      <textarea name="mensaje" id="txt" cols="50" rows="10" placeholder="Mensaje*"></textarea>
    </div>
    <div class="col-12">
      <button  type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
  <footer>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <p>SIGUENOS</p>
        <ul>
            <li  class="footer-logo-fb"></li>
            <li  class="footer-logo-wpp"></li>
            <li  class="footer-logo-ig"></li>
            <li  class="footer-logo-twt"></li>
        </ul>
    </div>
    <div class="container">
        <p>&copy;CafePas 2022</p>
        <p>Juan Camilo Cediel & Jhon Jawer Cuero Gomez</p>
    </div>
</footer>