#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("src/assets/img/pastas.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1 {
    color: rgb(30, 30, 30);
    font-size: 4.5em;
}

#cartas {
    background-color: rgba(77, 74, 74);
    text-align: center;
    color: rgb(49, 48, 48);
}

#pastas h3 {
    margin-top: 0;
    font-size: 1.2em;
}

#cartas .row {
    padding: 150px 12px;
}

#pastas p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: none;
}


#cartas .card {
    background-size: cover;
    background-position: center center;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.color-title {
    color: chocolate;
}

.color-acento {
    color: brown;
}


#pasta .info {
    text-align: center;
    padding: 200px 12px;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 15px;
    color: rgb(100, 100, 100);
}

footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-logo-fb {
    height: 30px;
    background-image: url("src/assets/img/iconF.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-wpp {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconW.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-ig {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconI.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-twt {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconT.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

@media (min-width: 720px) {

    #cartas .row {
        display: flex;
        justify-content: center;
    }

    #card p {
        display: block;
        margin-bottom: 10px;
    }

    #pasta .info {
        display: flex;
        justify-content: space-evenly;
    }

    #pasta .img-info {
        background-image: url("src/assets/img/pasta-rec.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #pasta .texto {
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #pasta h2 {
        margin-top: 0px;
    }

    #cartas {
        padding: 15px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    footer .footer-logo-fb {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-ig {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-wpp {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-twt {
        justify-content: flex-end;
        margin: 10px 10px;
    }


    footer .container {
        justify-content: flex-end;
    }

}