<body>
  <header class="fixed-top">
    <div class="container">
      <a class="logo" href="#">
        <img class="logo-img" src="../assets/img/LogoCafe.png" alt=""></a>
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="btn btn-default" (click)="SobreNosotros()">SOBRE NOSOTROS </a>
                </li>
                <li class="nav-item">
                  <a class="btn btn-default" (click)="Recetas()"> RECETAS </a>
                </li>
                <ul class="nav nav-pills">
                  <li class="nav-item dropdown">
                    <a class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" role="button"
                    aria-expanded="false"> NUESTROS PRODUCTOS </a>
                    <ul class="dropdown-menu">
                      <li><a class="btn btn-default" (click)="Alimentos()">ALIMENTOS</a></li>
                      <li><a class="btn btn-default" (click)="Aseo()">ASEO</a></li>
                    </ul>
                  </li>
                </ul>
                <li class="nav-item">
                  <a class="btn btn-default" (click)="Contacto()"> CONTACTO </a>
                </li>
              </ul>
            </div>
          </div>
          </nav>
        </div>
      </header>
<!--   <section id="hero">
    <h1>Bienvenidos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
     Asperiores ipsum, recusandae animi doloremque sequi suscipit assumenda accusantium. 
    Nemo, incidunt natus alias, earum perspiciatis minima tempora harum a, 
    cum consequuntur vitae!</p>
  </section> -->
</body>
<router-outlet></router-outlet>
