
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(221, 221, 221);
}

.logo{
    margin: 0;
    padding: 25px 30px;
}

.logo img{
    height: 80px;
    margin-right: 10px; 
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
} */

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: brown;   
}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
}