<section id="hero">
    <!-- <h2>Nuestros Productos <br> De Aseo</h2> -->
</section>
<!-- INFORMACIÓN DOBRE PRODUCTOS DE ASEO -->
<section id="productos-aseo">
    <div class="info">
        <div class="img-info"></div>
        <div class="texto">
            <h2><span class="color-acento">PRODUCTOS DE ASEO</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident praesentium mollitia officiis,
                atque natus in enim, qui tempora.</p>
        </div>
    </div>
</section>
<!-- TARJETAS O CARTAS -->
<section id="cartas">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../assets/img/carta-deter.jpeg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">DETERGENTES</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button (click)="Detergente()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../assets/img/carta-pisos.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">LIMPIA PISOS</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button (click)="LimpiaPisos()">+ Info</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../assets/img/carta-limpido.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">LIMPIDO</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <button (click)="Limpido()">+ Info</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COPY FALSE -->
<footer>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <p>SIGUENOS</p>
        <ul>
            <li  class="footer-logo-fb"></li>
            <li  class="footer-logo-wpp"></li>
            <li  class="footer-logo-ig"></li>
            <li  class="footer-logo-twt"></li>
        </ul>
    </div> 
    <div class="container">
        <p>&copy;CafePas 2022</p>
        <p>Juan Camilo Cediel & Jhon Jawer Cuero</p>
    </div>
</footer>