<section id="hero">
    <!-- <h1>GOMITAS</h1> -->
</section>
<!-- INFORMACIÓN SOBRE GOMITAS -->
<section id="gomita">
    <div class="info">
        <div class="img-info"></div>
        <div class="texto">
            <h2><span class="color-title">GOMITAS</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Provident praesentium mollitia officiis,
                atque natus in enim, qui tempora.</p>
        </div>
    </div>
</section>
<!-- TARJETAS O CARTAS -->
<section id="cartas">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../../assets/img/gomitas-gusa.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">GOMITAS TRULULU GUSANITO</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../../assets/img/gomitas-aro.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">GOMITAS TRULULU ARO</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="../../../../assets/img/gomitas-dinos.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"><span class="color-acento">GOMIAS TRULULU DINNOS</span></h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- COPY FALSE -->
<footer>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <p>SIGUENOS</p>
        <ul>
            <li  class="footer-logo-fb"></li>
            <li  class="footer-logo-wpp"></li>
            <li  class="footer-logo-ig"></li>
            <li  class="footer-logo-twt"></li>
        </ul>
    </div> 
    <div class="container">
        <p>&copy;CafePas 2022</p>
        <p>Juan Camilo Cediel & Jhon Jawer Cuero</p>
    </div>
</footer>