/* /* Vision 
.ti1{
    /* background: gray; 
    display: table;
    height: 100px;
    margin: 3rem auto;
    position: relative;
    left: 300px;
    width: 600px;
    top: 80px;
}

.ti1 p{
    font-size: 2.0rem;
    display: table-cell;
    margin: 0;
    padding: 0 .3rem;
    vertical-align: middle;
}

.texto1{
    /* background: white; 
    display: table;
    height: 300px;
    margin: 5rem auto;
    position: relative;
    left: 300px;
    width: 600px;
    top: -30px;
}

.texto1 p{
    font-size: 1.2rem;
    display: table-cell;
    margin: 0;
    padding: 0 .3rem;
    vertical-align: middle;
}

.img1{
    position: absolute;
    left: 100px;
    top: 200px;
}

/* Mision 

.ti2{
    /* background: white; 
    display: table;
    height: 100px;
    margin: 3rem auto;
    position: relative;
    left: -280px;
    width: 600px;
    top: 80px;
}

.ti2 p{
    font-size: 2.0rem;
    display: table-cell;
    margin: 0;
    padding: 0 .3rem;
    vertical-align: middle;
}

.texto2{
    /* background: white; 
    display: table;
    height: 300px;
    margin: 5rem auto;
    position: relative;
    left: -280px;
    width: 600px;
    top: -30px;
}

.texto2 p{
    font-size: 1.2rem;
    display: table-cell;
    margin: 0;
    padding: 0 .3rem;
    vertical-align: middle;
}

.img2{
    position: absolute;
    left: 1000px;
    top: 700px;
} */
#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("src/assets/img/hero-parque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.color-title {
    color: chocolate;
}

.color-acento {
    color: brown;
}


#vision .info {
    text-align: center;
    padding: 200px 12px;
}


#mision .info {
    text-align: center;
    padding: 200px 12px;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 15px;
    color: rgb(100, 100, 100);
}

footer .footer {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-logo-fb {
    height: 30px;
    background-image: url("src/assets/img/iconF.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-wpp {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconW.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-ig {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconI.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.footer-logo-twt {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("src/assets/img/iconT.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media (min-width: 720px) {

    
    #vision .info {
        display: flex;
        justify-content: space-evenly;
    }

    #mision .info {
        display: flex;
        justify-content: space-evenly;
    }

    #vision .img-info {
        background-image: url("src/assets/img/vision.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #mision .img-info {
        background-image: url("src/assets/img/mision.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }

    #vision .texto {
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #mision .texto {
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        padding-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    footer .footer-logo-fb {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-ig {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-wpp {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer-logo-twt {
        justify-content: flex-end;
        margin: 10px 10px;
    }

    footer .footer {
        justify-content: flex-end;
    }
}