<section id="hero">
   <!--  <h1>- SOBRE NOSOTROS -</h1> -->
</section>
<section id="vision">
    <div class="info">
        <div class="img-info"></div>
        <div class="texto">
            <h2><span class="color-title">VISIÓN</span></h2>
            <p>CAFEPAS S.A.S será en el año 2022 una empresa distribuidora líder de la región, con una alta cobertura de la marca AGUILA ROJA
             y PASTAS NURIA dentro de nuestra zona de cobertura y con un amplio portafolio de productos alimenticios de primera necesidad
            y aseo del hogar, generando con ello un nivel de composición en ventas generando el retorno esperado por los accionistas. 
            Consolidarse en el enfoque de Comercializadora fuerte en otras zonas a las señaladas como exclusivas, abarcar distribución a nivel departamental.</p>
        </div>
    </div>
</section>
<section id="mision">
    <div class="info">
        <div class="img-info"></div>
        <div class="texto">
            <h2><span class="color-title">MISIÓN</span></h2>
            <p>CAFEPAS S.A.S es una empresa Vallecaucana con mas de 40 años de experiencia en la distribución  productos alimenticios 
            y de aseo para el hogar en la zona Norte del Valle y Quindío, contando con la  exclusividad en la distribución de las marcas Águila roja
            y Pastas Nuria. Nuestro portafolio de productos esta dirigido al canal tradicional y  autoservicios, contando con una estructura logística 
            propia y un recurso humano competente, que nos permite garantizar un servicio oportuno y de calidad, actuando con sana competencia, 
            lealtad frente a nuestros clientes, proveedores y competidores, que nos garantiza la sostenibilidad del negocio.</p>
        </div>
    </div>
</section>
<footer>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <p>SIGUENOS</p>
        <ul>
            <li  class="footer-logo-fb"></li>
            <li  class="footer-logo-wpp"></li>
            <li  class="footer-logo-ig"></li>
            <li  class="footer-logo-twt"></li>
        </ul>
    </div>    
    <div class="footer">
        <p>&copy;CafePas 2022</p>
        <p>Juan Camilo Cediel & Jhon Jawer Cuero</p>
    </div>
</footer>